# ROS2/colcon
modubot_ws/build/
modubot_ws/install/
modubot_ws/log/
modubot_ws/calibration_data/

# editor swap
*.swp
*.swo

# VSCode/IDE
.vscode/
.idea/

# python cache
__pycache__/
*.pyc

# env/secrets
.env
*.key
*.pem

# temp
*.tmp
